<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <WeatherStation.Properties.Settings>
            <setting name="comport" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="resetArduino" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logFileFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CSVFileFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CSVFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="BoltwoodFileFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BoltwoodFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="WebDataFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebDataURL" serializeAs="String">
                <value>http://astromania.info/checkconn/putweatherdata2a.php</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MaxPoints" serializeAs="String">
                <value>4320</value>
            </setting>
            <setting name="Clearsky" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Cloudysky" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="WetLimit" serializeAs="String">
                <value>1010</value>
            </setting>
            <setting name="RainLimit" serializeAs="String">
                <value>980</value>
            </setting>
            <setting name="K1" serializeAs="String">
                <value>-7</value>
            </setting>
            <setting name="K2" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="K3" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="K4" serializeAs="String">
                <value>88</value>
            </setting>
            <setting name="K5" serializeAs="String">
                <value>88</value>
            </setting>
            <setting name="K6" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="K7" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ComWatchdog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendToNarodmon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Narodmon_MAC" serializeAs="String">
                <value>00-00-00-00-00-00</value>
            </setting>
            <setting name="BaseTempSensor" serializeAs="String">
                <value>Temp1</value>
            </setting>
            <setting name="SensorName" serializeAs="String">
                <value />
            </setting>
            <setting name="SensorEnabled" serializeAs="String">
                <value />
            </setting>
            <setting name="SensorType" serializeAs="String">
                <value />
            </setting>
            <setting name="SensorSendToWeb" serializeAs="String">
                <value />
            </setting>
            <setting name="SensorSendToNarodmon" serializeAs="String">
                <value />
            </setting>
            <setting name="SensorArduinoName" serializeAs="String">
                <value />
            </setting>
            <setting name="SensorWebCustomName" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialLogFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialLogFileFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value />
            </setting>
            <setting name="SensorFieldName" serializeAs="String">
                <value />
            </setting>
            <setting name="HeatingMaxTemp" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="HeatingMaxDuration" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="HeatingWetThreshold" serializeAs="String">
                <value>1010</value>
            </setting>
            <setting name="HeatingCSThresholdMin" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="WetSensorsMode" serializeAs="String">
                <value>Use both</value>
            </setting>
            <setting name="HeatingPauseTime" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="HeatingCSThresholdMax" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="HeatingCS_MinDelta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HeatingCS_MaxDelta" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MinModeEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeToSystemTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDebugPannels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindSpeed_Zero" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindyLimit" serializeAs="String">
                <value>4,4</value>
            </setting>
            <setting name="VeryWindyLimit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="RefreshWebInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="RefreshNarodmonInterval" serializeAs="String">
                <value>300</value>
            </setting>
        </WeatherStation.Properties.Settings>
    </userSettings>
</configuration>
